<div class="container">
    <div class="col-md-12">
        <h3>{{title}}</h3>
    </div>
    <div *ngIf="listaCurso.length > 0; else vazioDeDados">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id do curso</th>
                    <th scope="col">Nome do curso</th>
                    <th scope="col">Mensalidade do curso</th>
                    <th scope="col">Id do estudante</th>
                    <th scope="col">RA do estudante</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr scope="row" *ngFor="let curso of listaCurso">
                    <td>{{curso.cursoId}}</td>
                    <td>{{curso.cursoNome}}</td>
                    <td>{{curso.cursoMensalidade}}</td>
                    <td>{{curso.estudanteId}}</td>
                    <td>{{curso.estudanteRA}}</td>
                    <td>
                        <button class="btn btn-outline-primary btn-sm"
                            routerLink="/atualizar-curso/{{ curso.cursoId }}">
                            Atualizar
                        </button>

                        <button class="btn btn-outline-secondary btn-sm margin-button"
                            routerLink="/detalhe-curso/{{ curso.cursoId }}">
                            Detalhes
                        </button>

                        <button class="btn btn-outline-danger btn-sm" (click)="excluirCurso(curso.cursoId)">
                            Excluir
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #vazioDeDados>
        <div class="sem-dados">
            <p>
                Cursos não encontrados! Por favor, insira ao menos um.
            </p>
        </div>
        <button class="btn btn-outline-primary" routerLink="/inserir-curso">
            Inserir Curso
        </button>
    </ng-template>

</div>