@*

*@

@model AppUser

@{
    ViewData["Title"] = "Atualizar/Alterar";
}


<h3 class="bg-info text-white">
    @ViewData["Title"]
</h3>

<a asp-action="Index" class="btn btn-secondary">
    Listar
</a>

<div asp-validation-summary="All" class="text-danger">

</div>

<form asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Id">Id</label>
        <input type="text" asp-for="Id" class="form-control" disabled/>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="UserName">Nome</label>
        <input type="text" asp-for="UserName" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" name="password"/>
    </div>
    <button type="submit" class="btn btn-success">Alterar</button>
</form>