<div class="container">
    <div class="col-md-12">
        <h3>{{ tituloComp }}</h3>
        <!-- definição do fomulario "informal"-->
        <div class="form-group">
            <input type="text" [(ngModel)]="cadastroInserido.estudanteNome" placeholder="Informe seu nome"
                class="form-control" />
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="cadastroInserido.estudanteSobrenome" placeholder="Informe seu sobrenome"
                class="form-control" />
        </div>

        <div class="form-group">
            <input type="number" [(ngModel)]="cadastroInserido.estudanteRa" placeholder="Informe o ra"
                class="form-control" />
        </div>

        <div class="form-group">
            <input type="number" [(ngModel)]="cadastroInserido.estudanteIdade" placeholder="Informe a sua idade"
                class="form-control" />
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="cadastroInserido.estudanteFone" placeholder="Informe seu telefone"
                class="form-control" />
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="cadastroInserido.estudanteGenero" placeholder="Informe seu genero"
                class="form-control" />
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg panel-body" (click)=inserirUmCadastro()>
                Inserir Cadastro
            </button>
        </div>
    </div>
</div>