@*
    esta view se "comunicará" com a action Create() - estabelecida no controller no ColabController()

*@

@*
    fazer referencia a partir da view - ao model
*@

@model Colab

@* definir o nome da view *@

@{
    ViewData["Title"] = "Criar Registro";
}

@*
    abaixo serão implementadas algumas instruções importantes: 
    definir uma estrutura HTML para a criação de um formulario
    "linkar" as actions Create e Index
*@

<h2>@ViewData["Title"]</h2>


<form method="post"  class="row g-3">
    <div class="col-md-6">
        <label class="form-label" asp-for="Nome">Nome</label>
        <input class="form-control"  asp-for="Nome" />
        <span style="color: red" asp-validation-for="Nome"></span>
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Idade">Idade</label>
        <input class="form-control" asp-for="Idade" />
        <span style="color: red;" asp-validation-for="Idade"></span>

    </div>
    <div class="col-12">
        <label class="form-label" asp-for="Salario">Salario</label>
        <input class="form-control" asp-for="Salario" />
        <span style="color: red;" asp-validation-for="Salario"></span>
    </div>
    <div class="col-12">
        <label class="form-label" asp-for="Departamento">Departamento</label>
        <select class="form-select" asp-for="Departamento">
            <option value="Dev">Dev</option>
            <option value="RH">RH</option>
            <option value="Financeiro">Financeiro</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="form-label" asp-for="Genero">Genero</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Genero" value="F" /> Feminino
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="Genero" value="M" /> Masculino
        </div>

        <div class="form-check">
            <input class="form-check-input"  type="radio" asp-for="Genero" value="O" /> Outros
        </div>

        <span style="color: red;"  asp-validation-for="Genero"></span>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </div>
</form>


