<!-- implementar a view do componente em dois "pedaços": o 1º será exibido se existir algum dado trazido da base; o 2º será exibido se, e somente se, não existir qualquer registro trazido da base-->
<div class="container">
    <div class="col-md-12">
        <h3>{{ tituloComp }}</h3>
        <div *ngIf="listaDeEstudantes != 0; else vazioDeDados">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Id Estudante</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobrenome</th>
                        <th scope="col">RA</th>
                        <th scope="col">Email</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Fone</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Ação a Executar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr scope="row" *ngFor="let itens of listaDeEstudantes">
                        <td>{{ itens.estudanteId }}</td>
                        <td>{{ itens.estudanteNome }}</td>
                        <td>{{ itens.estudanteSobrenome }}</td>
                        <td>{{ itens.estudanteRA}}</td>
                        <td>{{ itens.estudanteEmail }}</td>
                        <td>{{ itens.estudanteIdade }}</td>
                        <td>{{ itens.estudanteFone }}</td>
                        <td>{{ itens.estudanteGenero }}</td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm"
                                routerLink="/atualizar/{{ itens.estudanteId }}">
                                Atualizar
                            </button>

                            <button class="btn btn-outline-secondary btn-sm"
                                routerLink="/detalhe/{{ itens.estudanteId }}">
                                Detalhes
                            </button>

                            <button class="btn btn-outline-danger btn-sm"
                                (click)="excluirCadastroEstudante(itens.estudanteId)">
                                Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-template #vazioDeDados>
        <div class="sem-dados">
            <p>
                Cadastros não encontrados! Por favor, insira ao menos um.
            </p>
        </div>
        <button class="btn btn-outline-primary" routerLink="/inserir">
            Inserir Cadastro
        </button>
    </ng-template>
</div>