<div class = "container">
    <div class = "col-md-12">
        <h3>{{ tituloComp }}</h3>
        <table class = "table table-bordered">
            <thead>
                <tr>
                    <th scope = "col">Id do Estudante</th>
                    <th scope = "col">Nome</th>
                    <th scope = "col">Idade</th>
                    <th scope = "col">Genero</th>
                    <th scope = "col">Cursando</th>
                </tr>
            </thead>
            <tbody>
                <tr scope = "row">
                    <td>{{ cadastroUnico.id }}</td>
                    <td>{{ cadastroUnico.nome }}</td>
                    <td>{{ cadastroUnico.idade }}</td>
                    <td>{{ cadastroUnico.genero }}</td>
                    <td>{{ cadastroUnico.inscricaoCurso }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
